@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');


* {
box-sizing: border-box;
margin: 0;
/*ajuste da borda do site inteiro*/
font-family: 'Libre Franklin', sans-serif;
}

#page-home{
background-color: white;
margin: 50px 0 ;
/*50px top e 0 para lado esquerdo*/
}

header img{
    display: flex;
    margin: auto;
    /*ajuste para ficar no meio*/
    margin-bottom: 20px;
    /*espaçamento em baixo*/
}

header .titulo{
    text-align: center;
    /*ajuste para ficar no meio*/
}

header h1 {
    color:gray;
    font-weight: 300;
    /*ajuste de negrito*/
    font-size: 27px;
}

header h1 span{
     color: black;
    font-weight: 800;
    /*ajuste de negrito*/ 
}

header h4{
    margin-top: 8px;
    /*margem topo*/
    display: flex;
    justify-content: center;
    /*ajuste para ficar no meio*/
    font-weight: 300;
    /*ajuste de negrito*/
    color: black;
    margin-bottom: 30px;
    /*espaçamento em baixo*/
    font-size: 14px;
}

main .form-group{
    display: flex;
    justify-content: center;
    margin-bottom: 5px;
}

main input {
    background-color:#fff;
    border-radius: 50px;
    /*curvatura da borda*/
    border: 0.5px solid hsl(0, 0%, 59%);
    /*grossura da borda, tipo e cor da borda*/
    color: black;
    /*cor dentro do input*/
    padding: 5px 10px;
    /*aumenta a caixa do input*/
    font-size: 14px;
    /*aumenta o texto dentro do input*/
    width: 50%;
    max-width: 300px;
    /*arrumando dentro do input*/
    /*text-align: center;
     arrumando a escrita para começar apartir do meio*/
    margin-right: 5px;
    /*distancia para o botão*/
    outline: none;
    /*efeito visual*/
  }


main input:invalid{
 border-color: hsl(354, 100%, 66%);
 box-shadow: 0px 0px 3px hsl(354, 100%, 66%);
/*borda  e sombra vermelha*/
}

main input:focus{
    outline:none;
    /*sem borda de seleção*/
}

main input:focus:invalid{
    box-shadow: none;
    /*tira a sombra*/
}

main span{
    color: hsl(354, 100%, 66%);
    display: flex;
    justify-content: center;
    margin-bottom: 40px;
    font-size: 13px;
    font-style: italic;
}

main button{
/*ajuste botão calular*/
background-color: hsl(223, 87%, 63%);
border: none;
/*borda preta*/
border-radius: 50px;
/*deixar sem ponta a borda*/
color: #fff;
/*cor do botão*/
cursor: pointer;
/*para mudar o mouse*/
font-weight: 300;
/*negrito*/
padding: 10px 25px;
/*grossura do botão*/
transition: filter 0.5s;
/*efeito ao colocar o mouse em cima*/
outline: none;
    }

.imgs{
    text-align: center;
}

.ilustracao img{
max-width:800px;
max-height:800px;
}

@media screen and (max-width:886px){
    .ilustracao img{
        height: 250px;
        width: 300px;
    }
}